---
import Navbar from '../components/navbar/Navbar.svelte';
export interface Props {
  title: string;
}

const {title} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="sitemap" href="/sitemap-index.xml">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="bg-[#130956] text-[#b8abab]">
    <Navbar client:load/>
    <div class="p-40"><slot /></div>
  </body>
</html>
